@page
@model TinyGenerator.Pages.Shared.IndexModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["PageDescription"] = $"CRUD generico: {Model.Entity}";
}

@section Styles {
    <link rel="stylesheet" href="~/js/vue-roles/roles-index.css" asp-append-version="true" />
}

<div id="roles-vue-app" data-entity="@Model.Entity" data-title="@Model.Title"></div>

<script type="module" src="~/js/vue-roles/roles-index.js" asp-append-version="true"></script>
