@page
@model TinyGenerator.Pages.NarrativeResources.EditModel
@{
    ViewData["Title"] = Model.IsNew ? "Nuova Narrative Resource" : "Edit Narrative Resource";
    ViewData["PageDescription"] = "Risorsa numerica collegata a un Narrative Profile";
}

<form method="post" class="mt-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Item.Id" />

    <div class="row g-3">
        <div class="col-12 col-lg-6">
            <label class="form-label" asp-for="Item.NarrativeProfileId">Profilo</label>
            <select class="form-select" asp-for="Item.NarrativeProfileId" asp-items="Model.NarrativeProfiles"></select>
            <span class="text-danger" asp-validation-for="Item.NarrativeProfileId"></span>
        </div>

        <div class="col-12 col-lg-6">
            <label class="form-label" asp-for="Item.Name"></label>
            <input class="form-control" asp-for="Item.Name" />
            <span class="text-danger" asp-validation-for="Item.Name"></span>
        </div>

        <div class="col-12 col-lg-4">
            <label class="form-label" asp-for="Item.InitialValue">Initial</label>
            <input class="form-control" asp-for="Item.InitialValue" type="number" />
            <span class="text-danger" asp-validation-for="Item.InitialValue"></span>
        </div>

        <div class="col-12 col-lg-4">
            <label class="form-label" asp-for="Item.MinValue">Min</label>
            <input class="form-control" asp-for="Item.MinValue" type="number" />
            <span class="text-danger" asp-validation-for="Item.MinValue"></span>
        </div>

        <div class="col-12 col-lg-4">
            <label class="form-label" asp-for="Item.MaxValue">Max</label>
            <input class="form-control" asp-for="Item.MaxValue" type="number" />
            <span class="text-danger" asp-validation-for="Item.MaxValue"></span>
        </div>
    </div>

    <div class="d-flex gap-2 mt-3">
        <button class="btn btn-primary" type="submit">Salva</button>
        <a class="btn btn-outline-secondary" asp-page="./Index">Annulla</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
