@page
@model TinyGenerator.Pages.OllamaMonitorModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/ExternalServicesMonitor" />
    <title>Redirect</title>
</head>
<body>
    <a href="/ExternalServicesMonitor">Vai a External Services Monitor</a>
</body>
</html>
