@page
@model TinyGenerator.Pages.Models.Index2Model
@{
    ViewData["Title"] = Model.Title;
    ViewData["PageDescription"] = "Gestione modelli (VuePrime)";
}

@section Styles {
    <link rel="stylesheet" href="~/js/vue-roles/primeicons.css" asp-append-version="true" />
    <style>
        /* PrimeVue DataTable compact overrides */
        .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
            padding: 0.25rem 0.5rem;
            font-size: 0.85rem;
        }
        .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
            padding: 0.3rem 0.5rem;
            font-size: 0.83rem;
        }
        /* Constrain action col */
        .p-datatable .p-datatable-tbody > tr > td .dropdown-menu {
            font-size: 0.85rem;
        }
    </style>
}

<div id="models-index2-app"></div>

<script type="module" src="~/js/vue-roles/models-index2.js" asp-append-version="true"></script>
